####################################
# BUILD / OUTPUT
####################################
bin/
obj/

####################################
# VISUAL STUDIO / VS CODE
####################################
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# LOGS
####################################
log/
logs/

####################################
# ASP.NET CORE – CONFIGS (IGNORAR)
####################################
# Ignora appsettings por ambiente em QUALQUER pasta
**/appsettings.Development.json
**/appsettings.*

####################################
# USER SECRETS / ENV
####################################
secrets.json
.env

####################################
# EMAIL / API KEYS
####################################
**/EmailSettings.cs

####################################
# OS FILES
####################################
*.DS_Store
Thumbs.db
*.swp

####################################
# NODE (se usar frontend)
####################################
node_modules/

####################################
# PUBLISH
####################################
publish/
